<a href="https://colab.research.google.com/github/visiont3lab/IOT_2022/blob/main/IOT_Lesson1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Basics

 ### Array

In [61]:
# Matematica
# array hanno una shape
import numpy as np
t = np.array([[4],[4],[5]])*10 - 5
a = np.array([
    [3,4,5],
    [3,7,9]
    ], dtype=float)
b = np.array([
    [3,4],
    [3,7],
    [3,4],
    ], dtype=float)
c = np.matmul(a,b)
print(f"Shape: {t.shape}")
print(f"Shape a: {a.shape}")
print(f"Shape c: {c.shape}")

Shape: (3, 1)
Shape a: (2, 3)
Shape c: (2, 2)

### Liste

In [71]:
# Liste
# Non hanno una dimensione fissa ma hanno una len
# Le liste sono iterabile
# Io posso aggiungere un elemento in fondo alla lista
k = ["ciao",3,[4,5]]
meta = int(len(k)/2)
k.append(67) # in fondo alla lista
k.insert(0,[6,["hello"]]) # inserire un element in cima alla lista
k.insert(meta, [65])
for el in k:
    print(el)

[6, ['hello']]
[65]
ciao
3
[4, 5]
67

In [103]:
# Accedere a una lista
l = [3,4,5,6,7]
print(l[3]) # si contano da 0 a N
print(l[-2]) # elemento finale

6
6

### Dizionari

In [79]:
# Dizionari ha i nomi delle colonne (key) univoci
# Il foglio excel ha come colonne lo stesso numero di righe
d = {
    "Nome": [5,"ciao"],
    "Surname" :[4,7]
}
d["Nome"].append("hello")
d["Surname"].append(6)

# Stampa tutti i valori contenuti nella colonna nome
print(d["Nome"])
# Stampa tutti i valori contenuti nella colonna cognome
print(d["Surname"])

[5, 'ciao', 'hello']
[4, 7, 6]

## Funzione

In [82]:
import numpy as np
lista = [4.3232,6.2323232,70.34343,80.34343]
# Corvertito la lista ad array
l = np.array(lista)
# Approssimato
l = np.round(l,1)
# Convertito a lista
l = list(l)
# Stampato
print(l)
# 4.3 -- 6.2 -- 70.3 -- 80.3

[4.3, 6.2, 70.3, 80.3]

In [95]:
def stampa(l, sep, approx):
    l = np.array(lista)
    l = np.round(l,approx)
    l = list(l)
    s = ""
    for el in l:
        s = s + f"{el} " + sep
    #print(s)
    # Create readme.txt file
    with open('readme.txt', 'w') as f:
        f.write(s)

# Le funzioni vanno chiamate
stampa(l, sep=" --- ", approx=4)
stampa(l, sep=" -!- ", approx=2)

## For Loop

In [106]:
# Accedere elementi array o liste
l = [3,4,5,6,7]
a = np.array(l)
for i in range(0,5,2):
    print(l[i], a[i])

3 3
5 5
7 7

In [107]:
# Le liste sono iterabile
for el in l:
    print(el)

3
4
5
6
7

## Covid example

In [ ]:
import pandas as pd
# df Ã¨ un dizionario
df = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv")
totale_positivi = df["totale_positivi"].values
display(df.head())
# Variazione totale positivi tra ieri ed ogggi
var = totale_positivi[-2] - totale_positivi[-1]
print(f"Var: {var}")

# Esercizio provare a emulare i dati di questo sito
# Github https://github.com/pcm-dpc/COVID-19
# https://opendatadpc.maps.arcgis.com/apps/dashboards/b0c68bce2cce478eaac82fe38d4138b1

# --> attuali positivi ?
# --> deceduti ?
# --> dimessi guariti ?
# --> totale casi ?
# Scrivendoli in file di testo

## Exercise Generate N random names, surnames eta and write to excel

In [15]:
!python3 --version

Python 3.7.14

In [ ]:
!pip install names

In [ ]:
import names
import numpy 
import pandas 

# Eta numero che va da 24-60
for i in range(0,1000):
    eta = numpy.random.randint(24,60,1)[0]
    s = f"{i} Name: {names.get_first_name()}  Surname: {names.get_last_name()} Eta: {eta}" 
    print(s)

In [45]:
import names
import numpy 
import pandas 

list_names = []
list_surnames = []
list_eta = []
# Eta numero che va da 24-60
for i in range(0,10000):
    eta = numpy.random.randint(24,60,1)[0]
    n = names.get_first_name()
    s = names.get_last_name()
    list_names.append(n)
    list_surnames.append(s)
    list_eta.append(eta)

In [46]:
f = {
    "Name": list_names,
     "Surname" : list_surnames,
     "Eta": list_eta,
}
df = pandas.DataFrame(f)
df.to_excel("Test.xlsx", index=None)
df.to_csv("Test.csv", index=None)